# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go coverage files
*.coverprofile
*.cov
coverage.out

# Build artifacts
bin/
dist/

# Dependency directories
vendor/

# Editor and OS metadata
.idea/
.vscode/
.DS_Store
